<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--  DB connection -->
        <property name="hibernate.connection.driver_class">SQLite.JDBCDriver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.connection.flush_before_completion">true</property>
        <!-- Some SQL-related stuff -->
        <property name="hibernate.jdbc.use_getGeneratedKeys">true</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- Caching -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <!--  Specify mapped entities -->
        <mapping class="cz.muni.fi.spc.SchedVis.model.entities.MachineGroup" />
        <mapping class="cz.muni.fi.spc.SchedVis.model.entities.Machine" />
        <mapping class="cz.muni.fi.spc.SchedVis.model.entities.EventType" />
        <mapping class="cz.muni.fi.spc.SchedVis.model.entities.Event" /> 
    </session-factory>
</hibernate-configuration>
